/* Basic Styling */
html, body {
  height: 50%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container {
  max-width: 800px;
 margin: 0 auto; 
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 60%;
  position: relative;
}
 
.right-column {
  width: 40%;
/*  margin-top: 60px; */
}

/* Left Column */
.left-column img {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
.left-column img.active {
  opacity: 1;
}

 


/* Product Description */
.product-name {
 /* border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px; */
}

.product-name h1 {
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

 @import url(//stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/
     bootstrap.min.css); 

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
} 

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }  

.product-name p {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
 font-weight: 100;
  color: #444649;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: justify;
  padding-top: 50px;
   
}

/* Product Color */

 .product-attribute1 span {
 	font-weight: 100;
    font-family: "Times New Roman", Times, serif;
    color: #535559;
    
  }
  


.color-choose label{cursor: pointer;}

.color-choose input{display:none;}

.color-choose input[type="radio"]:checked + .swatch{box-shadow: inset 0 0 0 2px white;outline: #42c5f4;}

.swatch{
  display:inline-block;
  vertical-align: middle;
  height: 30px;
  width:30px;
  margin: 0 5px 0 0 ;
  border: 1px solid #d2d8e0;
  outline: #42c5f4;
  border-radius: 10px;
}


/* product attribute2 */
.product-attribute2 span{
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  color: #535559;

  }



.capacity-choose {
  padding-top: 10px;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
}


.capacity-choose label{cursor: pointer;}

.capacity-choose input{display:none;}

.capacity-choose input[type="radio"]:checked + .capacity{box-shadow: inset 0 0 0 2px white;}

.capacity {
  display:inline-block;
  background: #eee;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  height: 22px;
  width: 22px;
  float: left;
  text-align: center;
  border-radius: 10px;
 /* padding-bottom: 0px;
  height: 30px;
  width:30px;
  margin: 0 5px 0 0 ;
  border: 1px solid #d2d8e0;
  outline: #42c5f4;
  border-radius: 10px;
  background-color: #eff5ff; */
}
/*
.capacity-choose label {
  display: inline-block;
  height: 30px;
  width:30px;
  text-align: center;
  vertical-align: middle;

  border: 1px solid #E1E8EE; 
  border-radius: 10px; 
  font-size: 14px; 
  color: #5E6977; 
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
  border: 1px solid #d2d8e0;
}

.capacity-choose input[type="radio"] {
  display: none;

}

.capacity-choose input[type="radio"]:checked  {
  
}

/*.capacity-choose label {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width:30px;
  margin: 0 5px 0 0 ;
  border: 1px solid #d2d8e0;
  outline: #42c5f4;
  border-radius: 10px;
  transition: all 0.3s;

}

.capacity-choose input[type="radio"]:active {
  display: none;
}

.capacity-choose input[type="radio"]:focus + label {
  border: solid 2px green;
}
 /*
.capacity-choose input {
  border: 1px solid #E1E8EE;
  border-radius: 6px; 
  padding left: 20px; 
  font-size: 14px; 
  color: #5E6977; 
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
  padding-right: : 13px 20px; 
}
 

.capacity-choose input:active,
.capacity-choose input:focus {
  border: 2px solid #42c5f4;
  outline: #42c5f4;
}
 
.product-var span {
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  color: #535559;
  padding-top: 10px;
} */

/* Product Price */
.product-price {
  display: flex;
  text-align: justify-all;
  padding-top: 30px;
  float: left;
}
 
.product-price span {
  background-color: #f4f5f7; 
  background-size:100% 100%;
  font-size: 12px;
  font-weight: 300;
  color: #43474D;
 /* padding: 25px 50px 75px 100px; */
   padding-top: 25px;
   white-space: pre-wrap;
   position: relative;
   line-height: 2;
   display: inline;
 }
.price{
   margin-right: 20px;
   border-left: 2px solid #E1E8EE;
   display: inline;
   } 


mark.red {
    color:#ff0000;
    font-size: 20px;
    background: none;
}
/* Responsive */
@media (max-width: 500px) {
  .container {
    margin-top: 50px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 50px;
    right: 0;
    top: 5px;
    left: initial;
  }
}
 
@media (max-width: 1500px) {
  .left-column img {
    width:230px;
    top: 5px;
  }
} 
